{% extends 'base.html' %}
{% block title %}Virtual Shopping List - Home Page{% endblock %}
{% block content %}
<body id="homeBody">
    <h1 id="headTitle">Welcome to Carters Virtual Shopping List!</h1>
    <a href="/start">
        <button type="button"  id="homePage_startButton">Get Started</button>
    </a>

    <a href="/list">
        <button type="button"  id="homePage_aboutButton">Shopping List</button>
    </a>

    <a href="/login">
        <button type="button"  id="homePage_loginButton">Login</button>
    </a>



</body>

{% endblock %}