{% extends 'base.html' %}
{% block title %}Virtual Shopping List - Home Page{% endblock %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="homeBody">
    <div class="homePageWrapper">
    <h1 id="headTitle">Welcome to the Virtual Shopping List!</h1>
    <a href="/start">
        <button type="button"  id="homePage_startButton">Sign up</button>
    </a>

    <a href="/login">
        <button type="button"  id="homePage_aboutButton">Shopping List</button>
    </a>

    {% if alreadyLoggedIn == False %}
    <a href="/login">
        <button type="button"  id="homePage_loginButton">Login</button>
    </a>

    {% else %}
    <a href="/login">
        <button type="button"  id="homePage_loginButton">Get Started</button>
    </a>
    {% endif %}

    </div>


</body>

{% endblock %}