<title>Virtual Shopping List - Start Page</title>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/main.css">
</head>
<body id="startBody">
<div class ="startHeaderElements">
    <span style="--i:1">W</span>
    <span style="--i:2">E</span>
    <span style="--i:3">L</span>
    <span style="--i:4">C</span>
    <span style="--i:5">O</span>
    <span style="--i:6">M</span>
    <span style="--i:7">E</span>
    <span style="--i:8">!</span>   
</div>
<p id="startDesc">
    Wecome to the Virtual Shopping List! This program allows 
    you to make all of your shopping lists virtual!<br>On this website,
    you will be able to create a family. With this family, you will be able 
    to invite your<br>family members. Once your family members have joined the website
    and your family, you will be able<br>to manage the roles of your family members. The way roles
    work are that there will be managers who<br> are able to manage the family. The other role
    is just being a member. You can find more information<br> about these specific roles after
    your create your family! If you have any questions, feel free to reach<br> out to me! 
    <a href="/signup">
        Click me to move on!
    </a>
</p>


</body>


