<title>Virtual Shopping List - {{ family.name }}</title>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/main.css">
</head>

<body id="createFamilyBody">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-families"> {{ family.name }}</h3>
            <p class="h1">Owned by: {{ family.creator_name }}</p>
            <a href="/families/{{family._id}}/list">
            <button  id="viewFamilyBtn1" type="button" class="btn btn-secondary btn-lg btn-block">Shopping List</button>
            </a>
            <a href="/families/{{family._id}}/inventory">
              <button  id="viewFamilyBtn2" type="button" class="btn btn-secondary btn-lg btn-block">Inventory</button>
            </a>

            {% if user_has_permissions == True %}
            <a href="/families/{{family._id}}/member-management">
            <button  id="viewFamilyBtn3"type="button" class="btn btn-secondary btn-lg btn-block">Member Management</button>
            </a>
            <a href="/families/{{family._id}}/family-management">
            <button type="button" id="viewFamilyBtn4"class="btn btn-secondary btn-lg btn-block">Family Management</button>
            </a>
            {% endif %}
            <a href="/families">
              <button type="button" id="viewFamilyBtn5" class="btn btn-danger btn-lg btn-block">Back to your families</button>
              </a>
          </div>
        </div>
      </div>
</body>